<div class="navigation">
   <div class="affix">
      <ul class="nav">
        <li ng-repeat="view in inputTemplate.views"
            ng-class="{ active: (activeSection == view.id) }"
            ng-click="activate(view.id)">
            <i class="fa fa-fw" ng-class="getClassIcon(view.id)"></i>
            {{ view.label }}
        </li>
      </ul>
      <hr style="margin: 10px;"/>

      <center>
        <select style="width: 90%;">
          <option cost=".175" value="r3.large">2 cores - 15 GB</option>
          <option cost=".21" value="c3.xlarge">4 cores - 7 GB</option>
          <option cost=".35" value="r3.xlarge">4 cores - 30 GB</option>
          <option cost=".42" value="c3.2xlarge">8 cores - 15 GB</option>
          <option cost=".7" value="r3.2xlarge">8 cores - 61 GB</option>
          <option cost=".84" value="c3.4xlarge">16 cores - 30 GB</option>
          <option cost="1.4" value="r3.4xlarge">16 cores - 122 GB</option>
          <option cost="1.68" value="c3.8xlarge">32 cores - 60 GB</option>
          <option cost="2.8" value="r3.8xlarge">32 cores - 244 GB</option>
        </select>
      </center>

      <center>
        <select style="width: 90%;">
          <option>5 nodes</option>
          <option>10 nodes</option>
          <option>20 nodes</option>
          <option>30 nodes</option>
        </select>
      </center>

      <center ng-click="triggerSimulation()">
        <span class="fa-stack">
          <i class="fa fa-cloud fa-stack-2x text-primary"></i>
          <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
        </span>
        Run in the cloud
      </center>
   </div>
</div>

<div class='body container'
  ng-repeat="view in inputTemplate.views"
  ng-if="activeSection == view.id">
  <div ng-repeat="attr in view.attributes" ng-class="{ collapsed: inputTemplate.definitions[attr].collapsed }">
      <b ng-click="inputTemplate.definitions[attr].collapsed = !inputTemplate.definitions[attr].collapsed;">
        <i class="fa fa-lg fa-fw"
          ng-class="{ 'fa-caret-down' : !inputTemplate.definitions[attr].collapsed, 'fa-caret-right': inputTemplate.definitions[attr].collapsed }"></i>
        {{ inputTemplate.definitions[attr].label }}
      </b>
      <hr/>
      <form class="form-horizontal" role="form">
        <div class="collapsable" input-parameter ng-repeat="param in inputTemplate.definitions[attr].parameters" property="param"></div>
      </form>
  </div>

  <div class="body-navigation">
    <i class="fa fa-lg fa-fw fa-chevron-left"
      ng-hide="$first" ng-click="activate(inputTemplate.views[$index - 1].id)">
    </i>
    <i class="fa fa-lg fa-fw" ng-class="getClassIcon(view.id)"
      ng-click="validate(view.id)" class="btn btn-default">
    </i>
    <i class="fa fa-lg fa-fw fa-chevron-right"
      ng-hide="$last" ng-click="activate(inputTemplate.views[$index + 1].id)">
    </i>
  </div>
</div>

