<div ng-controller='hydraNeProjectCtrl' ng-init='loadProjectData()'>
    <div ng-if='!projectView'>
        <div class='project-title'>
            {{ project.name }}
        </div>

        <table class='table table-striped table-hover table-condensed'>
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-cubes fa-fw"></i>
                    </th>
                    <th style='width: 20%;'>
                        Mesh
                    </th>
                    <th style='width: 55%;'>
                    </th>
                    <th style='width: 20%;'>
                        <i class="fa fa-clock-o"></i>
                    </th>
                    <th class='text-center' colspan="2" style='width: 5%;'>
                        <i class="fa fa-gears"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        {{ mesh.name }}
                    </td>
                    <td>
                        {{ mesh.size | bytes }}
                    </td>
                    <td>
                        {{ mesh.created | toDateNumber | date : 'medium' }}
                    </td>
                    <td>
                        <i class="fa fa-cloud-download" ng-click="downloadLink()"></i>
                    </td>
                    <td>
                        <i ng-if="surfaceMesh" class="fa fa-eye" ng-click="viewMesh()"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class='table table-striped table-hover table-condensed'>
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-sitemap fa-fw"></i>
                    </th>
                    <th style='width: 20%;'>
                        Simulations
                    </th>
                    <th style='width: 55%;'></th>
                    <th style='width: 20%;'>
                    </th>
                    <th class='text-center' colspan="2" ng-click='createSimulation()' style='width: 5%;'>
                        <i class="fa fa-plus"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="simulation in simulations">
                    <td></td>
                    <td ng-click='openSimulation(simulation._id)'>{{ simulation.name }}</td>
                    <td ng-click='openSimulation(simulation._id)'>{{ simulation.description }}</td>
                    <td ng-click='openSimulation(simulation._id)'>{{ simulation.created | toDateNumber | date : 'medium' }}</td>
                    <td>
                        <i class='fa fa-fw fa-reply-all fa-rotate-180' ng-click='createSimulation(simulation._id)'></i>
                    </td>
                    <td>
                        <i class='fa fa-fw fa-trash' ng-click='deleteSimulation(simulation._id)'></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class='table table-striped table-hover table-condensed' ng-if='results.length >= 1'>
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-picture-o fa-fw"></i>
                    </th>
                    <th style='width: 20%;'>
                        Results
                    </th>
                    <th style='width: 55%;'></th>
                    <th style='width: 20%;'></th>
                    <th class='text-center' colspan="2" style='width: 5%;'>
                        <i class="fa fa-gears"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in results">
                    <td></td>
                    <td ng-click='openResult(result._id)'>{{ result.name }}</td>
                    <td ng-click='openResult(result._id)'>{{ result.description }}</td>
                    <td ng-click='openResult(result._id)'>{{ result.created | toDateNumber | date : 'medium' }}</td>
                    <td>
                        <i class="fa fa-eye" ng-click="showResult()"></i>
                    </td>
                    <td>
                        <i class="disabled fa fa-fw fa-trash-o" ng-if='simulation._accessLevel != 2'></i>
                        <i class='fa fa-fw fa-trash' ng-if='simulation._accessLevel == 2' ng-click='deleteResult(result._id)'></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='edit-simulation'
        hydra-ne-simulation
        ng-show="projectView === 'simulation-input'"
        ng-controller="hydraNeEditSimulationCtrl">
    </div>

    <div
        hydra-ne-mesh-viewer
        ng-if="projectView === 'mesh-viewer' && surfaceMesh"
        launcher-url="/paraview"
        file-id="{{ surfaceMesh._id }}">
    </div>
</div>
