<div ng-controller='hydraNeProjectCtrl' ng-init='loadSimulations()'>
    <div ng-hide='simulation'>
        <div class='project-title'>
            {{ project.name }}
        </div>

        <table class='table table-striped table-hover table-condensed'>
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-sitemap fa-fw"></i>
                    </th>
                    <th style='width: 20%;'>
                        Simulations
                    </th>
                    <th style='width: 60%;'></th>
                    <th style='width: 20%;'></th>
                    <th class='text-right' ng-click='createSimulation()'>
                        <i class="fa fa-plus"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="simulation in simulations">
                    <td></td>
                    <td ng-click='openSimulation(simulation._id)'>{{ simulation.name }}</td>
                    <td ng-click='openSimulation(simulation._id)'>{{ simulation.description }}</td>
                    <td ng-click='openSimulation(simulation._id)'>{{ simulation.created | toDateNumber | date : 'medium' }}</td>
                    <td class='text-right'>
                        <i class='fa fa-fw fa-reply-all fa-rotate-180' ng-click='cloneSimulation(simulation._id)'></i>
                        <i class='fa fa-fw fa-trash' ng-if='simulation._accessLevel == 2' ng-click='deleteSimulation(simulation._id)'></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class='table table-striped table-hover table-condensed' ng-if='results.length > 1'>
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-picture-o fa-fw"></i>
                    </th>
                    <th style='width: 20%;'>
                        Results
                    </th>
                    <th style='width: 60%;'></th>
                    <th style='width: 20%;'></th>
                    <th class='text-right'></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in results">
                    <td></td>
                    <td ng-click='openResult(result._id)'>{{ result.name }}</td>
                    <td ng-click='openResult(result._id)'>{{ result.description }}</td>
                    <td ng-click='openResult(result._id)'>{{ result.created | toDateNumber | date : 'medium' }}</td>
                    <td class='text-right' ng-click='deleteResult(result._id)'>
                        <i class='fa fa-fw fa-trash' ng-if='result._accessLevel == 2' ></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div hydra-ne-simulation class='edit-simulation' ng-show="simulation" ng-controller="hydraNeEditSimulationCtrl">
    </div>
</div>
