<div ng-if="message && message.type !== 'upload'"
     class="alert"
     ng-class="{'alert-danger': message.type === 'error', 'alert-info': message.type === 'info'}">
     <button type="button"
             class="close"
             ng-click="hide()"
             data-dismiss="alert">
         <span aria-hidden="true">×</span>
         <span class="sr-only">Close</span>
     </button>
   {{ message.message }}
</div>

<div ng-if="message && message.type === 'upload'" class="alert alert-info">
   <div class="progress">
      <div class="progress-bar"
           role="progressbar"
           aria-valuenow="{{ percentage() }}"
           aria-valuemin="0"
           aria-valuemax="100"
           style="width: {{ percentage() }}%;">
      </div>
   </div>
   <p>
      <b>{{ message.file }}</b>: {{ percentageInt() }}%
   </p>
</div>
