color-lightest    = #eee
color-lighter     = #bebebe
color-light       = #8f8f8f
color-dark        = #252525
color-darker      = #040303
color-outline     = #0b69bd
color-hover-green = #42D305
color-hover-red   = #D34205
color-error       = #d9534f

.worflow-block
    float left
    position relative
    width 160px
    margin 10px 0 0 10px
    padding 10px
    border-radius 5px
    border none
    background color-lightest

    .title
        font-weight bold
        align center

    .description
        color color-darker
        height 140px
        overflow scroll

    .action
        position absolute
        top 10px
        right 10px
        cursor pointer

.group-block
    padding 10px
    margin-bottom 10px

    .title
        border-bottom solid 1px color-darker