<div ng-show="user">
    {{ user.firstName}} {{ user.lastName }}
    <i class="fa fa-sign-out clickable red" ng-click="logout(); ui.user.password = '';"></i>
</div>
<div ng-hide="user">
    <input placeholder="Login" ng-model="ui.user.login" type="text"/>
    <input placeholder="Password" ng-model="ui.user.password" type="password"/>
    <i class="fa fa-check clickable green" ng-click="login(ui.user.login, ui.user.password)"></i>
    <i class="fa fa-child clickable green" ng-click="login('user001', 'user001001')"></i>
    <i class="fa fa-child clickable blue" ng-click="login('user002', 'user002002')"></i>
    <i class="fa fa-child clickable red" ng-click="login('user003', 'user003003')"></i>
</div>
